<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <div class="main">
        <header class="header">
            <div class="logo">
                <img class="logo__img"
                    src="https://pluspng.com/img-png/autodesk-logo-png-autodesk-unveils-complete-manufacturing-software-portfolio-tct-magazine-2272.png"
                    alt="">
                <span class="logo__text">
                    Company
                </span>
            </div>
        </header>
        <main>
            <section class="wrapper">
                <nav class="side-bar">
                    <div class="bar-item">
                        <a class="bar-item__link" href="">
                            <div class="bar-item__wrapper">
                                <span class="bar-item__text">
                                    Profile
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="bar-item">
                        <a class="bar-item__link" href="">
                            <div class="bar-item__wrapper">
                                <span class="bar-item__text">
                                    Message
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="bar-item">
                        <a class="bar-item__link" href="">
                            <div class="bar-item__wrapper">
                                <span class="bar-item__text">
                                    Music
                                </span>
                            </div>
                        </a>
                    </div>
                </nav>
                <div class="container">
                    <div class="block block-user">
                        <div class="block-header">
                            <span class="block-header__title">User</span>
                        </div>
                        <div class="block-container">
                            <div class="user-avatar">
                                <img class="user-avatar__img"
                                    src="https://sh71-ryazan-r62.gosweb.gosuslugi.ru/netcat_files/9/67/1649232769_58_vsegda_pomnim_com_p_pustoe_litso_foto_76.jpg"
                                    alt="">
                            </div>
                            <div class="user-description">
                                <div class="description-line">
                                    <span class="user-description__user-name">Denis Nikotin</span>
                                </div>
                                <div class="description-line">
                                    <span class="user-description__user-age">22 years old</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block block-other">
                        <div class="block-header">
                            <span class="block-header__title">Other</span>
                        </div>
                        <div class="block-container">
                        </div>
                    </div>
                    <div class="block block-news">
                        <div class="block-header">
                            <span class="block-header__title">News</span>
                        </div>
                        <div class="block-container">
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

</html>